div{
    margin-top: 200px;
    margin-left: 350px;
}
span{
    display: inline-block;
    margin: 8px;
    padding: 20px 25px;
    box-shadow: 0 0 25px rgb(51, 23, 75);
    animation: movement 1s infinite linear;
}

@keyframes movement{
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(100px)
    }
    100%{
        transform: translateY(0px)
    }   
}

span:nth-child(1){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.1s;
    box-shadow: 0 10px 15px black;
}

span:nth-child(2){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.1s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(3){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.3s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(4){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.5s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(5){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.7s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(6){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.9s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(7){
    background:linear-gradient(45deg, black ,yellow);
    animation-delay: 0.10s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(8){
    background:linear-gradient(45deg, black ,rgb(28, 108, 184));
    animation-delay: 0.1s;
    box-shadow: 0 10px 15px black;
}
span:nth-child(9){
    background:linear-gradient(45deg, black ,rgb(100, 13, 54));
    animation-delay: 0.3s;
    box-shadow: 0 10px 15px black;
}

span:nth-child(10){
    background:linear-gradient(45deg, black ,rgb(66, 201, 133));
    animation-delay: 0.5s;
    box-shadow: 0 10px 15px black;
}